.mainpage {
    display: block;
    margin-top: 80px;
    background-color:green;
    width: 100%;
    height: 300px;
    margin-top: 4em;/*Am pus ca sa nu se suprapuna navbaru cu textul :) */ /*TOT S-A SUPRAPUS HAHAHAHHAHAHAHAHA :))))*/
}
.maintext{
    display: inline-block;
    background-color: red;
    width: 100%;
    height: 700px;
}
.mainphotos{
    margin: 0%;
    padding: 0%;
    display: inline-block;
    width: 50%;
}
.photos{
    margin: 0%;
    padding: 0%;
    height: 100%;
    object-position: -40px;
    width: 100%;
    object-fit: cover;
}


body{
    margin: 0%;
    height: 1000px;
}

