.mainpage {
    display:inline-block;
    background-color:green;
    width: 100%;
    height: 600px;
}
.maintext{
    display: inline-block;
    background-color: red;
    width: 50%;
    height: 100%;
}
.mainphotos{
    display: inline-block;
    width: 50%;
    float: right;
    height: 100%;
    object-fit: contain;
}
.photos{
    height: 100%;
}


body{
    height: 10000px;
}