
.navbar{
    background: green;
    padding: 2em;
    .container{
        display: flex;
        place-content: space-between;
        background: red;

        .Right-nav{
            text-decoration: none;
            color: black;
        }
    }
}

.nav-logo{
    width: 10%;
}