@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

.footer{
    position: fixed;
    bottom: 0;
    background: black;
    color: rgb(189, 189, 189);
    width: 100%;
    font-weight: bold;
    font-family: 'Poppins';
    padding-left: 1em;

    .Right-Foot{
        float: left;
        display: flex;
        ul{
            display: flex;
            li{
                margin-right: 1em;
                font-size: 1em;
                text-decoration: none;
                list-style-type: none;
    
            }

            a{
                color:rgb(189, 189, 189);
                text-decoration: none;
                &:hover{
                    color: white;
                    font-weight: bold;
                }
            }
        }

        a{
            text-decoration: none;
            color:rgb(189, 189, 189);
        }

        .button{
            display: inline-block;
            margin: .8em .3em;
            height: 30px;
            width: 30px;
            vertical-align: middle;
            border: 3px solid gray;
            border-radius: .5em;
            cursor: pointer;
            transition: all 0.3s ease-out;
            overflow: hidden;

            &:hover{
                width: 150px;
            }

            span{
                font-size: 15px;
                font-weight: 250;
                line-height: 30px;
                margin-left: 10px;
            }

            .icon{
                height: 30px;
                width: 30px;
                display: inline-block;
                line-height: 30px;
                box-sizing: border-box;
                text-align: center;
                border-radius: 50px;

                .Facebook-Letter{
                    color: #4267B2;
                }

                .Instagram-Letter{
                    color: #d6249f;
                }

                i{
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }

    .Credits{
        margin-right: 1em;
        float:right;
        color: white;
        span{
            color: lightblue;
        }
    }

   .Lorem-Ipsum-Img{
        width: 4%;
        float:right;
        margin-right: 2em;
    }

}
