@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

.footer{
    position: fixed;
    bottom: 0;
    background: black;
    color: rgb(189, 189, 189);
    width: 100%;
    font-weight: bold;
    font-family: 'Poppins';
    padding-left: 1em;

    .Right-Foot{
        float: left;
        display: flex;
        ul{
            display: flex;
            li{
                margin-right: 1em;
                font-size: 1em;
                text-decoration: none;
                list-style-type: none;
    
            }

            a{
                color:rgb(189, 189, 189);
                text-decoration: none;
                &:hover{
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

    .Credits{
        margin-right: 1em;
        float:right;
        color: white;
        span{
            color: var(--Phoenix-Color);
        }
    }

   .Lorem-Ipsum-Img{
        width: 4%;
        float:right;
        margin-right: 2em;
    }

}
