@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

.footer{
    position: fixed;
    bottom: 0;
    background: black;
    color: rgb(189, 189, 189);
    width: 100%;
    display: flex;
    font-weight: bold;
    place-content: space-between;
    font-family: 'Poppins';
    padding-left: 1em;

    .Credits{
      margin-right: 2em;
      span{
        color: var(--Phoenix-Color);
      }
      float: right;
    } 

    ul{
        display: flex;
        li{
            list-style-type: none;
            margin-right: 2em;
        }

        a{
            text-decoration: none;
            color: rgb(152, 152, 152);
            &:hover{
                color: white;
            }
        }
    }
   
    .Right-Foot{
        display: flex;
    }

   
    
}
