@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root{
    --Phoenix-Color:rgb(255, 123, 0);
}

.navbar{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    .container{
        display: flex;
        place-content: space-between;
        padding: 1em;
        background: rgb(221, 221, 221);

        .Right-nav{
            li{
                font-size: 2em;
                text-decoration: none;
                margin-left: 1em;
                list-style-type: none;//removes dots from list items

                &:hover{
                    font-weight: bold;
                    color: rgb(57, 57, 57);
                }
            }

            display: flex;

            a{
                text-decoration: none;
                color: black;
            }
        }

        .Left-nav{
            li{
                font-size: 2em;
                text-decoration: none;
                margin-left: 1em;
                list-style-type: none;//removes dots from list items
                &:hover{//Cand pui cursorul peste
                    font-weight: bold;
                    color: rgb(57, 57, 57);
                }

                .Don{
                    background:var(--Phoenix-Color);
                    border-radius: 5em;
                    border: 3px solid var(--Phoenix-Color);
                    font-weight: bold;
                    padding: 5px;
                    color:rgb(221, 221, 221);

                    &:hover{
                        color: var(--Phoenix-Color);
                        background-color: rgb(221, 221, 221);
                    }
                }
            }

            display: flex;

            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}


.nav-logo{
    width: 5%;
}

body{
    height: 1000px;
}